# R package
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj
src/*.o
src/*.so
src/*.dll
/doc/
/Meta/
CRAN-SUBMISSION

# R CMD check
/*.Rcheck/

# devtools / roxygen2
auto/

# Quarto
/.quarto/
*_files/
*_cache/
*.html
*.pdf
*.docx
*.epub
*.tex
*.aux
*.log
*.out
*.toc
*.synctex.gz
